body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px gray;
}
#tranjaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    color: white;
    border-radius: 30px;
}
.deposite{
    background-color: #6610f2;
}
.withdraw{
    background-color: #dc3545;
}
.balance{
    background-color: #fd7e14;
}
